<%= error_messages_for :semester %>
<% form_for :semester, :url => { :action => :create} do |f| %>
	<%= render :partial => "form", :object => f %>
	<p class="submit"><%= submit_tag 'Create' %></p>
<% end %>