<h2>Search Posts</h2>

<%= form_tag :action => :results %>
<fieldset>
<ul class="form">
<li>
	<label for="search">Search For:</label> 
</li>
<br/>
<li>
	<%= text_field_tag :query, nil, {:size => 30} %>
</li>


<p class="submit"><%= submit_tag 'Search' %></p>

</fieldset>
</ul>
<%= end_form_tag %>