<%= error_messages_for :course %>

<h2>Create a New Course</h2>
<fieldset>
<ul class="form">
<% form_for :course do |f| -%>
<%= render :partial => "form", :object => f %>
<p class="submit"><%= submit_tag 'Edit' %></p>
</ul>
</fieldset>
<% end -%>