/*
	Style sheet for Greenword
	Author: Jim V.
	
*/

/* Clearing out defaults
 	Suggested from : http://www.communitymx.com/content/article.cfm?cid=FAF76&print=true*/
html, body, ul, ol, li, p,
h1, h2, h3, h4, h5, h6,
form, fieldset, img, a {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Set up new defaults
	font trick suggested from site above*/
body {
	font-size: 100.01%;
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, Verdana, Helvetica, sans-serif;
	color: #666666;
	background-color: #cdcdcd;
}

a {
/*	border-bottom: 1px dotted #545454; */
	text-decoration: underline;
	color: #545454;
}

a:visited {
	color: #545454;	
}

/*Center the entire site*/
#wrapper {
	margin:0 auto;
	width:775px;
	border-right: 3px solid #1a1a1a;
	border-left: 3px solid #1a1a1a;
	background-color: #ffffff;
	
}

.button {
	background-color: #cdeb8b;
}




/*Header*/
#header {
	height: 85px;
	background:url(/images/tree.gif) no-repeat right top;
	border-bottom: 10px solid #1a1a1a;
}

#header a {
   text-decoration: none;
   border: none;
}
/*Top-Nav*/
#top-nav {
	float: right;
	line-height: 20px;
	list-style: none;
	margin: 0px;
	padding: 3px 0px;
	text-align: right;
	width: 500px;
	margin-top: -15px;
}

#top-nav li {
	display: inline; 
}

#top-nav a {
	margin: auto 0px;
	padding: 2px 4px;   
	font-size: 1.1em;  
}
#top-nav a:hover {
	background-color: #1a1a1a;
	color: white; 
}
/*END Top-Nav*/
/*END Header*/

/*Nav  -- currently not used*/
#nav {
	height:35px;
	line-height:35px;
	background:url(/images/bg-menu.png) repeat-x;
	padding:0 10px 20px 0;
}

#nav ul {
	list-style-type:none;
}

#nav li {
	float:left;
}

#nav li a {
	padding:0 15px;
	display:block;
	color:#ffffff;
	margin-right:2px;
	text-decoration: none;
	border: none;
}

#nav li a:hover {
	/*background:url(images/bg-menu-hover.png) no-repeat center center;*/
	color: #d17a00;
}
/*END Nav*/


/*Content*/
#content h2, h3, h4 {
	padding-left: 10px;
	padding-top: 15px;
	font-family: Cambria,Georgia,Palatino,Palatino Linotype,Myriad Pro,Serif;
}
#content h2 {
	font-size: 1.8em;
	color: #000000;
	padding-bottom: 15px;
}

#content h3 {
	border-bottom:1px solid #ccc;
	color: #81ac00;
	font-weight: normal;
	font-size: 1.6em;
	margin:16px 0px 5px 0px;
}

#content h4 {
	color: #000000;
}

/*Listing of students / admins / whatever done in tables */
.people-list {
		
}


table {
	padding: 10px;	
}

table tr {
		
}

table td {
	padding-right: 15px;
	padding-top: 10px;
}

table td a {
	
	border: none;
	display: block;
}

table td a.clean {
		
}

table td a:hover {
	background-color: #fff7c9;
}



#content p {
	padding-left: 20px; 
	padding-right: 20px; 
}

#content ul {
	margin-left: 25px; 
	margin-top: 5px;
}

#content ul li {
	padding: 10px; 
}

#content ul li a
{
	font-weight: normal;
	font-size: 1.4em;
	color: #545454;
  
}

#content ul li a:hover
{
/*	font-weight: normal;*/
/*	font-size: 1.4em;*/
	color: #006600;
/*	background-color: #eeeeee;*/
	text-decoration: none;
	border: none;
}



form {
	padding: 20px;	
}

form fieldset {
	width: 50%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #cccccc;
	border-right-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
}

ul.form {
	list-style: none;	
}

label { 
	display:block; 
	width:100px; 
	float:left;
}

input, select { 
	display:block;
	width:150px;
	float:left;
}
/*Sortable list */
ul#sortable {
	list-style: none;
}

ul#sortable li {
	color: #000000;
	cursor: pointer;
	padding: 6px;
}

ul#sortable li a {
	border: none;
}


p.submit input {
	float: right;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #aaaaaa;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	border-left-color: #aaaaaa;
	cursor: pointer;
	background-color: #f3f3f3;
	background-image: url(/images/icons/accept.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 4px 50%; 
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 22px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 15px;
}

p.submit input:hover {
	background-color: #ffffff;
}

.warning, .errorExplanation {
  /*font-family:Cambria,Georgia,Palatino,Palatino Linotype,Myriad Pro,Serif;*/
	margin:0 auto;
	width:500px;
	color: #ffffff;
	background-color: #d17a00;
	text-align: center;		
	padding: 15px;
	border: 1px solid #000000
}

.errorExplanation h2 {
	font-size: 0.7em;	
}

.errorExplanation p {
	font-size: 0.9em;	
	padding: 0;
	margin: 0;
}

.errorExplanation ul {
	padding: 0;
	margin: 0;
	text-align: left;
}

.errorExplanation li {
	font-size: 12px;	
	margin: 2px;
	padding: 0;
}

#notice {
	margin:15px auto;
	padding: 15px;
	width:380px;
	text-align: center;		
	font-size: 1.2em;
	color: #444444;
	background-color: #f3f3f3;
	border: 1px solid #aaaaaa
}


/*Student Test Section*/
#inner-content {
	margin: 0px auto;
	width:	70%;
	margin-top: 30px;
	padding-top: 20px;
	color: #444444;
	
}

#left-side {
	float: left;
	height: 100%;
}

#left-side p {
	color: #222222;
	font-size: 12px;

}

#word {
	font-size: 26px;
	text-align: center;
	margin-top: 20px;
}

#completion {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

#right-side {
	text-align: right;
	
}

#right-side input {
	margin-top: 10px;
	float: right;
}

#right-side p {
	color: #222222;
	font-size: 12px;
}

.answer {
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;

}

#top-side {
	
}

#top-side p {
	color: #222222;
	font-size: 12px;
}

#bottom-side {
	margin-top: 20px;
}

#bottom-side p {
	color: #222222;
	font-size: 12px;
}

#scenario {
	margin-top: 20px;

}

/*Student Result Section*/
#answer-set {
	clear:both;
	padding:10px;
	margin: 10px;
	padding-bottom: 15px;
}
#answer-set p {
	padding-bottom: 10px;
	color: #444444;
}

.word-answer {
	float:left;
	padding:10px;
	margin-bottom: 5px;
}

.odd {
	
}

.even {
	background-color: #dddddd;
	color: #333333;
}

.highlight {
	color: #333333;
	background-color: #fff7c9;
}

.graph {
	text-align: center;
	padding-top: 20px;
}

div.clearall {
	clear: both;
	height: 10px;
}

/*Translation Section*/
table.translation tr th
{
	background:#333;
	color:white;
	font-size:0.8em;
	padding:3px 10px;
	border:1px solid #222;
}
table.translation tr td
{
	padding:7px;
	border:1px solid #ddd;
}

.inplaceeditor-form
{
	
}

.semester {
	float: left;
	text-align: center;
	
	margin: 10px;
	background-color: #dddddd;
	color: #000000;
}

.semester a {
	display:block;
	text-decoration: none;
	width: 150px;
	height: 130px;
	padding-top: 10px;
	color: #000000;
	
}

.semester a:hover {
	width: 148px;
	height: 128px;
	border-top: 2px solid #222222;
	border-left: 1px solid #222222;
	border-right: 1px solid #222222;
}

.semester p {
	
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
}

#current-semester {
	background-color: #666666;
	color: #ffffff;
}
#current-semester a {
	
	color: #ffffff;
}

/*END Content*/


/*Footer*/
#footer {
	padding-top: 20px;
	height: 20px;
	text-align: center;
	border-bottom: 3px solid #1a1a1a;
}

#footer p {
	font-size: .8em; 
}
/*END Footer*/