<h1><%= "Edit Topic".t %></h1>

<%= error_messages_for :topic %>
<% form_for :topic,
     :url  => {:action => :update, :id => @topic.id},
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<br />
<%= submit_tag "Save Changes".t, :or => link_to("Cancel".t, :action => :show, :id => @topic) %>
<% end -%>