<h2>Topics</h2>
<ul>
<% @topics.each do |topic| %>
<li>
	<%= link_to topic.title, :action => "show", :controller => "discussion", :id => topic.id %>
</li>
<% end %>
</ul>

<% if admin? %>
<%= link_to "new topic", :action => "new" %>	
<% end %>