<h2>Tests</h2>
<ul>
	<% if @english %>
		<%= render(:partial => "test", :locals => { :test => @english }) %>
	<% else %>
		<li><%= link_to "Add English Test", :controller => :test, :action => "new", :lang => "en" %>
			<br/> There is no Spanish Test defined for this semester, add one by clicking this link
			</li>
	<% end %>
	<% if @spanish %>
		<%= render(:partial => "test", :locals => { :test => @spanish }) %>
	<% else %>
		<li><%= link_to "Add Spanish Test", :controller => :test, :action => "new", :lang => "es" %><br/> There is no Spanish Test defined for this semester, add one by clicking this link</li>
	<% end %>

</ul>

<h3>Compare Both</h3>
<ul>
	<li>
		<%= link_to "Side-by-Side", :action => :compare %>
	</li>
</ul>
<p>
<%= link_to "Back", :controller => :admin, :action => :index %>
</p>