<h2>Photos</h2>

	

<% @topics.each do |topic| %>
<div class="thumbnail">
	<%= link_to image_tag(topic.image.public_filename(:thumb)), 
				:action => "show", :controller => "gallery", :id => topic.id %>
	<p><%= link_to topic.title, :action => "show", :controller => "gallery", :id => topic.id %></p>

</div>

<% end %>


<div class="clearall">
	
</div>

<% if admin? %>
<%= link_to "new image".t, :action => "new" %>	
<% end %>