<%= link_to_close_redbox(image_tag @topic.image.public_filename) %>

<!-- This is what was on the show page before:
		 <%= link_to_remote_redbox image_tag(@topic.image.public_filename(:medium)), :url => {:controller => 'gallery', :action => 'show_image', :id => @topic.id} %> -->